@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

body{
    margin: 0;
    padding: 0;
    /* color: #505962; */
    color: white;
    background: #007bff!important;
     /* background: rgba(0,0,0,0.6) !important; */
    
    /*  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)); */
}

/* navigation */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    /* background: rgba(0,0,0,0.6) !important; */
}

.navbar-brand img{
    height: 1rem;
}
.navbar-nav li{
    padding-right: .7rem;

}

.navbar-dark.navbar-nav .nav-link{
    color:blue;
    padding: .8rem;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: red;
}

/* landing page */
.home-inner{
    background-image: url("/img/background.jpg");
    /* background: black; */
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: gold;
    
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
   background: gold;
}

:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
    --font-yes:  'Yesteryear', cursive;
}

/* global classes */
.font-yes{
     font: normal 400 50px var(--font-yes);
}
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}


    .offset::before{
    display: block;
    content:"" ;
    height: 4rem;
    margin-top: -4rem;
          background: #007bff!important;
}

  



/*============= COURSE SECTION =============*/

.narrow{
        background: #007bff!important;
}

.imgproj{

  border: .5px solid #ddd;
  
  padding: 5px;
  width: 600;
  height: 400 ;
}


services-img{
   border: .5px solid #ddd;
    height: auto;
  width: 100%; 
}

.narrow h1{
    font-size: 1.2rem;

}
.btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2 rem;
    padding: .6rem,1.2 rem;
    margin: 1rem;
    color: white;
    background-color: #1ebba3;
    border-color: #1ebba3;
}

.btn-secondary:hover{
    
    background-color: #189582;
    border-color: #189582;
}

/* features section */

.feature img{
    width: 100%;

}

.employee img{
     border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}
.jumbotron{
   background: #007bff!important;
   margin: 0;
    padding: 8rem 0 3.5rem;
    border-radius: 0;
}

h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline{
        width: 7rem;
        height: .2rem;
        background-color:white;
        margin: 0 auto 2rem;


}

/* .feature svg.svg-inline{
    color: gold;
} */

.desc  h3{
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    /* padding-bottom: .4rem; */
}

.desc li{
    text-align: justify;
    font-size:1rem ;
}

.desc p{
    color: white;
    font-size: 1rem;
    text-align: justify;
}

/* resourse section */
.fixed{
    background-image:url(/img/apple.png);
    z-index: -1;

}
.dark{
    background-color: gold;
}

.fixed-background{
    margin-bottom: 1rem;
}
.fixed-background h3{
    margin-bottom: 1rem;
}

.fixed-background p{
    margin-top: 1rem;
    }

/* about section */
.clients img{
    width: 100%;
    border-radius: 50%;
}
blockquote .svg-inline--fa{
    color: red;
    margin: 1rem;
}

/* .clients-hr{
        border-top: ;
} */
/* 
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 60vh;
  /* background: url("/image/background.jpg") top center; */
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
} */

/* service section */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
