@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" );

body{
    margin: 0;
    padding: 0;
   
    color: rgb(0, 76, 63);
    background:lightpink;

}


:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
    --font-yes:  'Yesteryear', cursive;
    --font-perma:'Permanent Marker', cursive;
}

/* global classes */
.font-perma{
     font: normal 400 50px var(--font-yes);
}
.font-yes{
     font: normal 400 50px var(--font-yes);
}
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}


/* navigation */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    /* background: rgba(0,0,0,0.6) !important; */
}

 .navbar-custom { 
            background-color: lightpink
        } 
.navbar-brand img{
    height: 1rem;
}
.navbar-nav li{
    padding-right: .7rem;

}

.navbar-dark.navbar-nav .nav-link{
    color:white
    padding: .8rem;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: red;
}

/* landing page */
/* .home-inner{
  
} */

#laderhome {
  width: 100%;
  height: 100vh;
  background-size: cover;
}


    .offset::before{
    display: block;
    content:"" ;
    height: 4rem;
    margin-top: -4rem;
          background: #007bff!important;
}

/* .caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: 
    
} */

/* about */
.about {
  background: lightpink;
}

.jumbotron{
   background:lightpink!important;
   margin: 0;
    padding: 8rem 0 3.5rem;
    border-radius: 0;
}
.aboutme img{

   border: .5px solid #ddd;
    height: auto;
  width: 100%; 
}

.skills {
  width: 200px;
  height: 100px;
  display: inline-box;
  background:gray;
  font-size: large;
  color :white;
  margin: 15px;

  /*  width: 100px;
	    height: 100px;
	    display: inline-block;
	    font-size: large;
	    background: maroon;
	    color: thistle;
	    margin: 15px;
    transition: all 1s; */
}
    .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

    .star-six {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      position: relative;
    }
    .star-six:after {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid red;
      position: absolute;
      content: "";
      top: 30px;
      left: -50px;
    }
  
    .tv {
      position: relative;
      width: 200px;
      height: 150px;
      margin: 20px 0;
      background: red;
      border-radius: 50% / 10%;
      color: goldenrod;

      text-align: center;
      text-indent: .1em;
    }
    /* #tv:before {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      right: -5%;
      left: -5%;
      background: inherit;
      border-radius: 5% / 50%;
    } */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

