@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Righteous&display=swap");

body{
    margin: 0;
    padding: 0;
   
    color: rgb(0, 76, 63);
    background:lightpink;

}


:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-indie: 'Indie Flower', cursive;
    --font-right:  'Righteous', cursive;

 
    --font-perma:'Permanent Marker', cursive;
}

/* global classes */
.font-perma{
     font: normal 400 50px var(--font-perma);
}
.font-indie{
     font: normal 400 25px var(--font-indie);
}
.font-right{
    font: normal 400 30px var(--font-right);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}


/* navigation */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    /* background: rgba(0,0,0,0.6) !important; */
}

 .navbar-custom { 
            background-color: lightpink
        } 
.navbar-brand img{
    height: 1rem;
}
.navbar-nav li{
    padding-right: .7rem;

}

.navbar-dark.navbar-nav .nav-link{
    color:white
    padding: .8rem;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: red;
}

/* landing page */
/* .home-inner{
  
} */


#laderhome {
  width: 100%;
  height: 100vh;
  background-size: cover;
    /* background: linear-gradient(-45deg, #ee7752,lightpink, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
}

/* body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
} */

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */



    .offset::before{
    display: block;
    content:"" ;
    height: 4rem;
    margin-top: -4rem;
          background: #007bff!important;
}

/* .caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: 
    
} */

/* about */
.about {
  background: lightpink;
}

.jumbotron{
   background:lightpink!important;
   margin: 0;
    padding: 8rem 0 3.5rem;
    border-radius: 0;
}
.aboutme img{

   border: .5px solid #ddd;
    height: 600px;
  width: 100%;
   padding: 1px;
  margin: 2px;
   display: block;
  margin-left: auto;
  margin-right: auto; 
}

.skills {
  width: 100%;
 


  font-size: large;
 
  margin: 1px;

}
    .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

    .star-six {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      position: relative;
    }
    .star-six:after {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid red;
      position: absolute;
      content: "";
      top: 30px;
      left: -50px;
    }
  
    .tv {
      position: relative;
      width: 200px;
      height: 150px;
      margin: 20px 0;
      background: red;
      border-radius: 50% / 10%;
      color: goldenrod;

      text-align: center;
      text-indent: .1em;
    }
    /* #tv:before {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      right: -5%;
      left: -5%;
      background: inherit;
      border-radius: 5% / 50%;
    } */
/* div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
} */

div.gallery img {
  width: 120px;
  height: 100px;
  padding: 1px;
  margin: 2px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  

}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.site-footer {
  background-color: #fff;
  color: #000;
}

.site-footer a {
  color: #000;
}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

/* .small{
  width: 200px;
  height: 200px;
  left: -100px;
  /* bottom: -100px; 
} */

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  /* bottom: -200px; */
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  /* bottom: -300px; */
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  /* bottom: -400px; */
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  /* bottom: -500px; */
}

.shade1{
  opacity: 0.1;
}
.shade2{
  opacity: 0.14;
}

.shade3{
  opacity: 0.17;
}

.shade4{
  opacity: 0.18;
}

/* .shade5{
  opacity: 0.9;
} */

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}
